<x-main>
    <div class="table-cell w-screen align-middle">
        <table class="m-auto xs:px-6 bg-slate-100 xs:w-94 xs:py-7 md:w-[600px] sm:w-[470px] table-fixed   transform -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2">
            <tr class="w-full ">
                <td class="pb-2 font-medium text-green-300 xs:text-4xl font-jost lg:text-[2.5rem] brand  sm:text-right w-full ">Shortbase</td>
            </tr>
            <tr class="">
                <td class="text-xl xs:pb-4 font-jost ">Hey, just click the link</td>
            </tr>
            <tr>
                <td class="text-base text-black opacity-75 md:hidden font-jost xs:pb-10 md:text-lg sm:text-[1.1rem]">Just click the button or if you're having issues use the link below</td>
                <td class="text-base text-black opacity-75 xs:hidden font-jost xs:pb-10 md:block md:text-[1.1rem]">You probably got this email just after trying to shortify a link, well your one step away 👍😃</td>
            </tr>
            <tr>
                <td class="xs:pb-8 ">
                    <a class="px-8 py-3 text-center text-white bg-green-400 text-underline-color-gray-800 rounded-xl font-jost sm:text-lg hover:cursor-pointer">Confirm</a>
                </td>
            </tr>
            <tr>
                <td class="text-left font-jost text-label xs:pb-8">
                    <p class="mb-1 sm:text-lg sm:inline md:mb-0 sm:mr-2">Or copy this link in your browser</p>
                    <a class="font-medium text-blue-500 cursor-pointer sm:text-lg visited:text-purple-600 sm:inline"  href="https://www.google.com">link</a>
                </td>
                </tr>
            <tr class="w-full">
                <td class="w-full h-[1px] bg-[#B2B2B2] ">
                  
                </td>
            </tr>
            <tr>
                <td class="pt-4 pb-1 font-medium font-jost text-label sm:pt-6 sm:tracking-[0.02rem] md:pb-0 sm:pb-1">This link will be active for 15 minutes</td>
            </tr>
            <tr>
                <td class="md:tracking-wide font-jost text-label xs:pb-10 md:pb-6">Randomly came to your inbox? Ignore me</td>
            </tr>
            <tr class=" xs:w-full">
                <td class="inline font-jost xs:float-start">
                    <a class="text-lg underline cursor-pointer">Unsubscribe</a>
                </td>
                <td class="inline sm:ml-6 font-jost xs:float-end sm:float-start">
                    <a class="text-lg underline cursor-pointer">Home</a>
                </td>
            </tr>
        </table>
    </div>
    
<x-main/>